@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@300;400;600;700;800&family=Montserrat:wght@300;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadowcolor: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

.ant-card-head-title {
  margin: 0 !important;
  font-weight: 600 !important;
  font-family: "Montserrat", "sans-serif" !important;
  font-size: 1.2rem;
}

.select-input {
  width: 30%;
  height: 100%;
  margin-right: 10;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem;
}
